<h1> Edit Task</h1>

<!--
This is the page where we can make a new task
-->

<!--
We create the form
-->

<!--
the code for this edit is in the:

    _form.html.erb 
    
patial file

and the only thing we need is the render code below to show
the partial file on this page
-->

<%= render 'error-list'%>

<%= render 'form'%>