<h1>My To Do List</h1>

<!-- we had the below here, but moved it to the controller
as that is where functionality should be

@task=['make dinner','go to bed']
-->




<!--
link_to takes 2 paramaters, one looks at the task
you can use "rake routes" command to show you the prefix 
of what you need for the link
-->

<%= link_to 'look at your tasks', tasks_path %>













